@import "../../styles/partials/fonts";
@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.additional {
  @include desktop {
    display: flex;

    @include desktop-width;
  }

  &__active {
    @include desktop {
      flex: 1;
      border-right: 2px solid $secondary-medium;
    }
  }
}
