// COLORS

$primary-dark: #323232;
$primary-medium: #afafaf;
$primary-light: #ffffff;
$primary-brand: #0095ff;

$secondary-dark: #000000;
$secondary-medium: #e1e1e1;
$secondary-light: #fafafa;
$secondary-brand: #0065ad;
