@import "../../styles/partials/fonts";
@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.comment-form {
  padding: 1rem;
  display: flex;
  gap: 1rem;

  @include tablet {
    padding: 1.5rem;
    gap: 2rem;
  }

  @include desktop {
    padding: 0 1.5rem 1.5rem 0;
    margin-top: 2rem;
  }

  &__container {
    flex: 1;
    @include tablet {
      display: flex;
      gap: 2rem;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex: 3;
    }
  }

  &__user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;

    @include tablet {
      align-self: flex-end;
    }
  }

  &__label {
    color: $primary-medium;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }

  &__input {
    border: 1px solid $secondary-medium;
    border-radius: 4px;
    background-color: $secondary-light;
    padding: 0.75rem;
    margin-bottom: 1rem;

    resize: none;

    &:focus {
      outline: 2px solid $primary-brand;
    }

    &::placeholder {
      color: $secondary-dark;
      font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    }

    @include tablet {
      height: 2.6rem;
      margin-bottom: 0;
    }
  }

  &__err {
    outline: 2px solid red;
  }

  &__btn {
    width: 100%;

    @include buttons;
    @include tablet {
      width: auto;
      align-self: flex-end;
      flex: 1;
    }
  }

  &__btn-txt {
    flex: 1;
    font-size: 1rem;
  }
}
