@import "../../styles/partials/fonts";
@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.details {
  &__old-container {
    padding: 0 1rem;
    @include tablet {
      padding: 0 1.5rem;
    }

    @include desktop {
      padding: 0;
    }
  }
  &__comments-old {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__comment {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-top: 2px solid $secondary-medium;

    @include tablet {
      padding: 1.5rem 0;
    }
    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__placeholder {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-color: $secondary-medium;
  }

  &__comment-info {
    display: flex;
    justify-content: space-between;
  }

  &__comment-username {
    font-weight: bold;
  }

  &__comment-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__comment-text {
    line-height: 1.4;
  }

  &__comment-date {
    color: $primary-medium;
  }

  &__comments-divider {
    border-top: 2px solid $secondary-medium;

    @include desktop {
      display: none;
    }
  }
}
