@import "../../styles/partials/fonts";
@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.active-video {
  background-color: $secondary-dark;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    aspect-ratio: 16/9;
    object-fit: cover;

    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 55%;
    }
  }
}
